<div class="container-fluid register" id="registerBack">
  <div class="container text-center" id="formBack">
    <div class="container" id="registerText">
      <h1 class="display-1" id="actualText">R E G I S T E R</h1>
    </div>

    <form id="login-form" (ngSubmit)="onSubmit()" class="form justify-content-center">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="fName">F i r s t N a me</label><br>
          <input type="text" class="form-control" [(ngModel)]="fName" name="fName" id="fName">
        </div>
        <div class="form-group col-md-6">
          <label for="lName">L a s t N a me</label><br>
          <input type="text" class="form-control" [(ngModel)]="lName" name="lName" id="lName">
        </div>
      </div>
      <div class="form-group">
        <label for="username">U s e r n a me</label><br>
        <input type="text" class="form-control" [(ngModel)]="username" name="username" id="username">
      </div>
      <div class="form-group">
        <label for="password">P a s s w o r d</label><br>
        <input type="password" class="form-control" [(ngModel)]="password" name="password" id="password">
      </div>
      <div class="text-center">
        <button type="submit" id="submitButton" class="btn btn-lg">Submit</button>
      </div>
    </form>
    <button type="button" id="backToLoginButton" class="btn btn-lg btn-block btn-outline-secondary" routerLink='/login'>
      Back to
      Login</button>
  </div>
</div>
