hr {
  width: 50%;
  border: 2px solid var(--primaryGoldColor);
  border-radius: 5px;
  box-shadow: 0px 0px 15px var(--secondaryGoldColor);
}


/**

CLASS DEFINITIONS

*/
.genre-container {}

.genre-container span {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 3px 10px;
  margin: 5px;
}

.movie-info-container {
  padding-bottom: 15px;
  background-color: var(--secondaryRedColor);
  text-align: center;
}

.btn-dark {
  background-color: var(--primaryGoldColor);
  box-shadow: 0px 0px 10px var(--primaryGoldColor);
}

.btn-light {}

/**

ID DEFINITIONS

*/

#genreInfo {
  font-family: var(--thirdFont);
}

#detailsInfo {
  font-family: var(--thirdFont);

}

#infoRow {
  background-color: var(--primaryWhiteColor);
}

#titleText {
  font-family: var(--secondaryFont);
  color: black;
  -webkit-text-stroke: 1px var(--primaryGoldColor);
  letter-spacing: 9px;
  text-shadow: 0px 0px 15px var(--secondaryGoldColor);
}

#commentsContainer {
  color: white;
  font-family: var(--thirdFont);
}

#movieImage {
  padding-bottom: 20px;
}

#submit {
  background-color: var(--primaryGoldColor);
  border: 2px solid black;
}

#buttonContainer {
  margin-top: 50px;
}

#likedButton {
  margin-right: 25px;
}

#watchButton {
  margin-left: 25px;
}
