<div class="component">
  <div class="heading-container">
    <img class="heading-background-image" src="../../../assets/images/oldschool.jpeg" />
    <div class="heading-centered" id="welcomeText">Welcome to CineMatch!</div>
    <button id="entryButton" class="heading-centered centered btn btn-primary ml-5 mt-5" routerLink="/login">Get Started
      Now!</button>
  </div>
  <div class="container-fluid pb-5" id="cardcontainer">
    <div class="text-center mt-3 mb-5" id="textDiv">
      <h1 id="worksText">How it works</h1>
    </div>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="card-header">
              <h2>Step 1</h2>
            </div>
            <div class="card-body">
              <p>Create an account and search through over 600,000 different movies!</p>
              <span class="material-icons">account_box</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="card-header">
              <h2>Step 2</h2>
            </div>
            <div class="card-body">
              <p>Like movies and add movies to your watch list!</p>
              <span class="material-icons">thumb_up_alt</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <div class="card-header">
              <h2>Step 3</h2>
            </div>
            <div class="card-body">
              <p>Comment on movies to let others know what you thought, and view comments from other users!</p>
              <span class="material-icons">groups</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <button type="button" class="btn btn-primary" routerLink="/login" id="entryButton">Get Started</button>
    </div>
  </div>

</div>
