header {
  text-align: center;
  padding: 25px 0 50px 0;
  font-family: var(--primaryFont);
  color: var(--theBlackColor);
}

hr {
  width: 50%;
  border: 2px solid white;
  border-radius: 5px;
  box-shadow: 0px 0px 15px white;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;

}

.card-body {
  margin-left: auto;
  margin-right: auto;

}

.img-square-wrapper {
  max-width: 100%;
  height: auto;
}

.card-custom-horizontal {
  background-color: #E8E8E8;
  display: flex;
  margin-bottom: 1em;
  position: relative;
  min-height: 250px;
}

.card-custom-img {
  height: 225px;
  width: 150px;
  margin: 0 10px;
  border-radius: 5px;
  transform: scale(1);
  transition: 300ms;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}

.card-custom-img .cover {
  width: 100%;
  min-width: 200px;
  height: 300px;
  object-fit: cover;
}

.card-custom-body {
  background-color: #E8E8E8;
  padding: 1em;
  padding: 70px 0;
  margin-left: 200px;
}




.info {
  min-width: 300px;
  max-width: 302px;
}

.title {
  font-weight: bold;
  font-family: var(--primaryFont);
}

.remove-button {
  position: absolute;
  bottom: 20px;
  right: 40px;
}

.container {
  padding-top: 50px;
}

#mainContainer {
  background-color: var(--secondaryRedColor);
}

#wholeCard {
  font-family: var(--thirdFont);
  color: var(--primaryWhiteColor);
  background-color: var(--primaryRedColor);
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 15px white;
}

#cardBody {
  background-color: var(--primaryRedColor);
  border-radius: 5px;
}

#headerText {
  padding-top: 15px;
  font-family: var(--secondaryFont);
  color: var(--primaryGoldColor);
  text-shadow: 0px 0px 5px black;
}
