<div class="component">
  <div class="heading-container">
    <img class="heading-background-image" src="../../../assets/images/filledTheater.jpg" />
    <form (ngSubmit)="clickSearch()" #searchForm="ngForm" class="search-container">
      <input [(ngModel)]='search' name='search' class="search-input" type="text" placeholder="Search for a movie..." />
      <button type="submit" class="search-button">Search</button>
    </form>
    <div class="jumbotron text-center">
      <h2>OR FIND A RANDOM MOVIE TO WATCH TONIGHT!</h2>
      <button class="btn btn-primary btn-block" id="randomButton" (click)="generateRandomMovie()">RANDOM</button>
    </div>

  </div>

  <div class="movies-container">
    <h1 class="carousel-heading">Trending</h1>
    <div class="carousel-container">
      <app-scroll-menu collectionType="{{collection.POPULAR}}"></app-scroll-menu>
    </div>
    <h1 class="carousel-heading">Explore</h1>
    <div class="carousel-container">
      <app-scroll-menu collectionType="{{collection.TOP}}"></app-scroll-menu>
    </div>
  </div>
</div>
